.hero{
    height: 400px; 
    background-image: url(../img/banner3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center
    h2{
        color: darkcyan ;
        font-size: 40px;

    }
    p{
        color: darkcyan;
        font-size: 15px;
        margin-bottom: 20px;

    }
    a{
        font-size: 25px;
        background-color: black;
        color:darkcyan ;
        text-decoration: none;
        padding: 5px;
        border: 2px solid darkcyan;
        &:hover{
            background-color: darkcyan;
            color: black;
            border:2px solid black ;
        }

    }
}

.saludable{
    background-image: url(../img/saludable-bg2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    display: flex;
    flex-direction: row-reverse ;
    justify-content: space-between;
    div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h2{
            color: rgb(12, 4, 50);
            font-size: 40px;
        }

    }
    img{
        width: 380px;
        height: 500px;
        border: 2px solid grey;
    }

}
.productos{
    h2{
        text-align: center;
        background-color: darkcyan;
    }
    .productos-contenedor{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        div{
            background-color: darkcyan;
            box-shadow: 13px 10px 23px 5px rgba(0,0,0,1);
            -webkit-box-shadow: 13px 10px 23px 5px rgba(0,0,0,1);
            -moz-box-shadow: 13px 10px 23px 5px rgba(0,0,0,1);
            width: 218px;
            height:250px ;
            text-align: center;
            margin: 5px;
            img{
                width: 180px;
                height: 150px;

            }
            h3{
                font-size: 20px;
                margin-bottom: 30px;

            }
            a{
                background-color: black;
                color: white;
                text-decoration: none;
                padding: 10px;
                text-align: center;
                &:hover{
                    background-color: darkcyan;
                    color: black;
                    border:2px solid black ;
                }
            }


        }

    }
}